.App {
  text-align: center;
}
body {
  margin: 0 auto;
}
.day-calendar {
  background-color: darkgray;
}
.hour{
  border: 1px solid darkred;
}
.hour-number {
  background-color: darkseagreen;
}
.row1 {
  height: 12px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.absolut {
  position: absolute;
}