.App {
  text-align: center;
}
body {
  margin: 0 auto;
}
.day-calendar {
  background-color: darkgray;
  grid-template-columns: 1fr 5fr;
}
.hour{
  border: 1px solid darkred;
}
.hour-number {
  background-color: darkseagreen;
}
.row1 {
  height: 12px;
}
.grid {
  display: grid;
}
.gridrow {
  grid-template-rows: repeat(3, 12px)
}
.bluecolor {
  background-color: cadetblue;
}
